

<div class="content-mess container-fluid">
    <div class="row content-mess-row">
        
        <div class=" col-lg-3 col-md-3 mess-person">
            <div class="logo-mess">
                <img src="../../assets/img/chat2.svg" alt="">
            </div>
            <div class="contact">
                <img src="../../assets/img/avatar.png" alt="">
                <div class="info-mess-user">
                    <h2 class="name-mess">
                        Jenny Johann
                    </h2>
                    
                </div>
            </div>
            <hr>
            <div class="contact">
                <img src="../../assets/img/avatarman.png" alt="">
                <div class="info-mess-user">
                    <h2 class="name-mess">
                        Tyler Serbth
                    </h2>
                    
                </div>
            </div>
            <hr>
            <div class="contact">
                <img src="../../assets/img/foto.jpg" alt="">
                <div class="info-mess-user">
                    <h2 class="name-mess">
                        Bethy Castillo
                    </h2>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 chat-mess">
            <div class="header-perfil">
                <div class="perfil-mensajes">
                    <img src="../../assets/img/foto.jpg" alt="">
                    <div class="info-perfil-user">
                        <h2 class="name-mess">
                            Bethy Castillo
                        </h2>                    
                    </div>
                </div>                
            </div>
            
            <div class="mensajes-chat">
               <div class="send-mess">
                   <p> Lorem ipsum dolor sit amet.</p>
               </div>
            </div>
           <div class="send-mess-input">
            <input type="text" class="type-mess" placeholder="Type here...">
            <button type="" class="btn-enviar-mess"><i class="fas fa-paper-plane"></i></button>
           </div>
        </div>

    </div>
</div>