      
    <div class="container mt-2 py-4">
            
    <form >
    
    <div class="card shadow mb-0">
    <div class="card-header  color-header ">
    <h6 class="">registro de asistencia</h6>
    </div>
    <div class="card-body container">
    <div class="form-row row ">
        <div class="form-group col-lg-3 col-md-6 mt-1 ">
        <label for="asisfecha" class="form-label">fecha:</label>
        <input type="date" class="form-control" id="asisfecha"/>
        </div>
        <div class="form-group col-lg-3 col-md-6 mt-1  ">
        <label for="asisnombres" class="form-label">nombres:</label>
        <input type="text" class="form-control form-name" id="asisnombres"/>
        </div>
        <div class="form-group col-lg-3 col-md-6 mt-1  ">
        <label for="asisapellidos" class="form-label"> apellidos:</label>
        <input type="text" class="form-control form-name" id="asisapellidos"/>
        </div>
        <div class="form-group col-lg-3 col-md-6 mt-1  ">
        <label for="asiscedula" class="form-label">cedula:</label>
        <input type="number" class="form-control" id="asiscedula" />
        </div>  
        <div class="form-group col-lg-3 col-md-6  mt-1 ">
        <label for="asisuniadminis" class="form-label">unidad aministrativa:</label>
        <input type="text" class="form-control" id="asisuniadminis"/>
        </div>
        <div class="form-group col-lg-3 col-md-6 mt-1  ">
        <label for="asiscargo" class="form-label">cargo:</label>
        <input type="text" class="form-control " id="asiscargo" />
        </div>  
        <div class="form-group col-lg-3 col-md-6 mt-1  ">
        <label for="asishorainicio" class="form-label">Hora de inicio:</label><br>
        <input type="radio" id="inicionormal" name="radioinicio"> <label for="inicionormal" class="form-label">Normal</label>
        <input type="radio" id="ausenciainicio" name="radioinicio"> <label for="ausenciainicio" class="form-label">Ausencia</label>
        </div>       
        <div class="form-group col-lg-3 col-md-6 mt-1  ">
        <label for="asiscargo" class="form-label">Hora de salida:</label><br>
        <input type="radio"  id="finnormal" name="radiofin" value="" > <label for="finnormal" class="form-label">Normal</label>
        <input type="radio"  id="ausenciafin" name="radiofin" value="ausencia"  > <label for="ausenciafin" class="form-label">Ausencia</label>
        </div>        
            <button type="submit" class="btn color-btn col-lg-6 col-md-6 mt-1  mt-4 mx-auto" >Registrar asistencia</button>
      </div>
    </div>
    </form>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.semanticui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    
    </body>
    </html>